<!DOCTYPE html>
<html>
<head>
	<title>OTP Verification Card Design | Rustcode</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

<div class="container d-flex justify-content-center align-items-center">

 <div class="card text-center">

	<div class="card-header p-5 mt-5">
		<img src="https://images.unsplash.com/photo-1584824486509-112e4181ff6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZXJyb3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
		<h5 class="mb-2">OTP VERIFICATION FAILED</h5>
		<div>
			<small>Please check the Otp</small>
		</div>
	</div>

	{{!-- <div class="input-container d-flex flex-row justify-content-center mt-2">
        <form action="/otp" method="post">
		<input type="text" name="otp" class="m-1 text-center form-control rounded" maxlength="4">
        <button class="btn btn-info" type="submit">submit</button>
        </form>
		
		
	</div> --}}

 <div>
 	{{!-- <small>
 		didn't get the otp
		<a href="#" class="text-decoration-none">Resend</a>
 	</small> --}}
 </div>



 </div>

</div>

</body>
</html>